* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.j-c-c {
    justify-content: center;
}


.j-c-e {
    justify-content: end;
}

.j-c-s-b {
    justify-content: space-between;
}

.j-c-s-e {
    justify-content: space-evenly;
}

.a-i-c {
    align-items: center;
}

.min-h-100vh {
    min-height: 100vh;
}

.mt-20 {
    margin-top: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.pr-30 {
    padding-right: 30px;
}

.w-100 {
    width: 100%;
}

.display-none {
    display: none;
}

:root {
    --color-white: white;
    --font-size-18: 18px;
    --border-radius-5: 5px;
    --box-width-400: 400px;
    --color-blue: rgb(0, 136, 255);
    --color-red: #ff0000;
    --color-green: green;
}


/* Input-text */

.input-text {
    width: 80%;
    height: 45px;
    border: 1px solid var(--color-blue);
    padding: 20px;
    border-radius: var(--border-radius-5);
}

.input-text:focus {
    outline: none;
}


/* Button */

.button {
    width: 170px;
    height: 36px;
    cursor: pointer;
    border: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: var(--font-size-18);
    border-radius: var(--border-radius-5);
    transition: transform 100ms linear;
}

.button:hover {
    transform: scale(105%);
}

.button:active {
    transform: scale(95%);
}


/* Colors */

.color-blue {
    color: var(--color-blue);
}

.color-green {
    color: var(--color-green);
}

.color-red {
    color: var(--color-red);
}

/* Nav */

ul {
    list-style: none;
}

.nav {
    position: fixed;
    top: 0;
    padding-left: 40px;
    padding-right: 40px;
    height: 70px;
    background-color: var(--color-blue);
}

.nav h2 {
    color: var(--color-white);
}

.nav img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.bottom-bordered {
    border-bottom: 3px solid var(--color-white);
    line-height: 2;
}

.h-160 {
    height: 160px;
}