.sign-up-box {
    width: var(--box-width-400);
    height: 500px;
    border: 1px solid var(--color-blue);
    border-radius: var(--border-radius-5);
}

@media screen and (max-width:420px) {
    .sign-up-box {
        width: var(--box-width-300);
        height: 350px;
    }
}

@media screen and (max-width:320px) {
    .sign-up-box {
        width: var(--box-width-260);
        height: 350px;
    }
}