.update-password-box {
    width: var(--box-width-400);
    height: 350px;
    border: 1px solid var(--color-blue);
    border-radius: var(--border-radius-5);
}

@media screen and (max-width:420px) {
    .update-password-box {
        width: var(--box-width-300);
    }
}

@media screen and (max-width:320px) {
    .update-password-box {
        width: var(--box-width-260);
    }
}